<launch>
  <arg name="use_sim_time" value="false"/>
  <arg name="host"/>
  <arg name="tf_prefix"/>
  <include file="$(find neato_node)/launch/bringup_minimal.launch">
	<arg name="host" value="$(arg host)"/>
  	<arg name="tf_prefix" value="$(arg tf_prefix)"/>
  </include>
  <include file="$(find gscam)/examples/raspi_nodelet.launch">
	<arg name="host" value="$(arg host)"/>
  </include>
</launch>
