<launch>
  <arg name="host"/>
  <arg name="tf_prefix"/>
<!--  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find neato_simulator)/model/neato.urdf.xacro'" /> 
  <param name="robot_description" command="$(arg urdf_file)" /> -->
  <arg name="use_sim_time" value="false"/>
  <node pkg="tf" type="static_transform_publisher" name="laser_to_base" 
    args="-0.1016 0 0.0889 0 0 0 $(arg tf_prefix)/base_link $(arg tf_prefix)/base_laser_link 50" />

  <node name="neato" pkg="neato_node" type="neato.py" output="screen">
    <param name="tf_prefix" value="$(arg tf_prefix)"/>
    <param name="port" value="$(arg host)" />
  </node>

</launch>
