<launch>
  <arg name="use_sim_time" value="false"/>

  <group ns="oscar">
    <include file="$(find neato_node)/launch/bringup.launch">
	   <arg name="tf_prefix" value="oscar" />
	   <arg name="host" value="192.168.17.204"/>
    <node pkg="tf" type="static_transform_publisher" name="laser_to_base" 
    args="-0.1016 0 0.0889 0 0 0 $(arg tf_prefix)/base_link $oscar/base_laser_link 50" />
    </include>
    
  </group>

  <group ns="bigbird">
    <include file="$(find neato_node)/launch/bringup.launch">
      <arg name="tf_prefix" value="bigbird" />
	    <arg name="host" value="192.168.17.209"/>
    <node pkg="tf" type="static_transform_publisher" name="laser_to_base" 
    args="-0.1016 0 0.0889 0 0 0 $(arg tf_prefix)/base_link $bigbird/base_laser_link 50" />
    </include>
      
  </group>

</launch>
