<!-- NOTE: See bringup.launch>bringup_minimal.launch for establishing static coordinate transforms -->

<launch>
  <arg name="use_sim_time" value="false"/>

  <!-- Creates static transform publishers between /odom and /world frames -->
  <node pkg="tf" type="static_transform_publisher" ns="leader" name="odom_to_world" 
    args="0 0 0 0 0 0 world leader/odom 50" />

  <node pkg="tf" type="static_transform_publisher" ns="follower" name="odom_to_world" 
    args="-0.9 0 0 0 0 0 world follower/odom 50" />    

  <!-- ALL STATIC TRANSFORMS BASED ON INITIAL POSITIONS GO ABOVE THIS LINE -->    

  <group ns="leader">
    <include file="$(find neato_node)/launch/bringup.launch">
	<arg name="tf_prefix" value="leader" />
	<arg name="host" value="192.168.17.210"/>
    </include>
  </group>

  <group ns="follower">
    <include file="$(find neato_node)/launch/bringup.launch">
        <arg name="tf_prefix" value="follower" />
	<arg name="host" value="192.168.17.205"/>
    </include>
  </group>

</launch>
