<launch>
  <arg name="use_sim_time" value="false"/>


  <group ns="leaderbot">
    <include file="$(find neato_node)/launch/bringup.launch">
	<arg name="tf_prefix" value="leaderbot" />
	<arg name="host" value="192.168.17.200"/>
  <node pkg="tf" type="static_transform_publisher" name="test_map_to_leader_odom" args="0 0 0 0 0 0 map $(tf_prefix)/odom 100" />

    </include>
  </group>

  <group ns="followerbot">
    <include file="$(find neato_node)/launch/bringup.launch">
  <arg name="tf_prefix" value="followerbot" />
  <arg name="host" value="192.168.17.203"/>
  <node pkg="tf" type="static_transform_publisher" name="map_to_follower_odom" args="1 0 0 0 0 0 map followerbot/odom 100" />

    </include>
  </group>

</launch>
